global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 5s

scrape_configs:
{%for group in prom_groups %}
  - job_name: '{{ group }}'
    static_configs:
      - targets:
{%for host in prom_groups[group] %}
        - {{ host }}.{{ ansible_domain }}:9100
{%endfor%}{%endfor%}

{% if prom_blackbox is defined %}
  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{%for endpoint in prom_blackbox.endpoints %}
        - {{ endpoint }}
{%endfor%}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ prom_blackbox.address }}
{% endif %}
